.container_side {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.side_right {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  flex-grow: 3;
}

.side_left {
  min-width: 30em;

  height: 100vh;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  .container_side {
    flex-direction: column-reverse;
  }

  .side_right, .control {
    margin-left: 1em;
  }

  .graph {
    align-self: center;
  }
}


.side_left > * {
  flex-grow: 1;
  margin: 0 1em 1em 1em
}

.side_left:first-child {
  padding-top: 1em;
}

.graph {
  flex-grow: 3;
  display: inline-block;
}

.button_row > * {
  margin: .5em .1em;
}

.control {
  width: fit-content auto;
  margin: 1em 1em 1em 0em;
}

.button_row {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.speed_slider {
  min-width: 10em;
}

.tick_speed_data {
  min-width: fit-content;
  align-self: center;
}