/* CodeBlock */

.light {
    background-color: white;
}

.dark {
    background-color: rgb(238, 238, 238);
}

.highlight {
    color: white;
    background: black;
    border-radius: 5px 0 0 5px;
}

.sub_body {
    border-radius: 6px;
    border: 1px solid lightgrey;

    overflow-x: scroll;
    min-width: 100%;

    display: grid;
    grid-template-columns: 1em 1fr;
}

.code_index {
    position: sticky;
    left: 0; /* Stick to the left */
    background: #fff; /* Prevent overlap with background content */
    z-index: 1; /* Ensure it stays above other content */
    border-right: 1px solid #ddd; /* Optional styling */
    padding-left: 0.4em;
    padding-right: 1em;
}

.code_line {
    padding-left: 1em;
}


/* Card */

.code_card {
    overflow: hidden;
}

.code_header {
    background-color: blue;
    color: white;
    margin-bottom: 1em;
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.done_label {
    margin-top: 0 !important;
    color: black;
    background: white;
    padding: 0.2em 1em 0.2em 0.5em;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.code_title {
    padding: 0.2em 0 0.2em 0;
}

.code_block_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}