.code_row:nth-child(even) {
    background-color: white;
}

.code_row:nth-child(odd) {
    background-color: rgb(238, 238, 238);
}

.code_row {
    display: flex;
    padding-right: 1em;
    min-width: 100%;
    width: fit-content;
}

.code_line {
    padding-left: 2em;
}

.code_row_num {
    padding-right: 0.2em;
    margin-right: 0.3em;
    padding-left: 0.2em;
    color: gray;
}

.highlight {
    color: white;
    background: black;
    border-radius: 5px;
}

.code_body {
    display: flex;
}

.sub_body {
    border-radius: 6px;
    border: 1px solid lightgrey;

    overflow: scroll;
    width: fit-content;
    min-width: 100%;
    
}